/* Votre CSS ici */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
    --main-primary-color: rgb(84, 228, 84);
    --main-background-color: grey;
    --main-text-color: black;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
    margin: 1rem 0;
  }

.accroche{
    text-align: center;
    width: 50%;
    margin: 1rem auto;
}

#mentions {
    margin-bottom: 20px;
    line-height: 1.25;
 }
#mentions p{
    font-family:'Times New Roman', Times, serif;
}
    
#mentions h2
    {
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}

header {
    color :var(--main-text-color);
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    align-items: center;
    height: 150px;
}
header h1{
    text-align: center;
    margin: 0 auto;
}
header img{
    width: 150px;
    margin: 20px;
} 

/* Style du body */
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-check-input{
    margin-top: 0;
}
.form-check .form-check-input{
    margin: 0;
    float: none;
}
.bg-light{
    background-color: white !important;
}
.bg-success{
    background-color: white !important;
}
.s5{
    width: 50rem;
}
.s3{
    width: 30rem;
}
.col-md-3 {
    text-align: center;
}
#liste_ingredients, #liste_mots_cles{
    max-height: 10rem;
    overflow: auto;
}
#liste_mots_cles{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mot-cle{
    display: flex;
    flex-direction: row;
    width: 25%;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem;
}
.mot-cle p{
    margin-right: 1rem;
}
.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
    background: none;
}
.btn{
    padding: none;
}

/* Style du Footer */
footer {
    flex-shrink: 0;
    width: 100%;
    height: 5rem;/* Footer height */
    background-color: var(--main-background-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer a{
    color: var(--main-text-color);
    text-decoration: none;
}



/* Formulaire Connexion ADMIN */
.boxXXX {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
    justify-content: space-between;
    height: 180px;
    width: 400px;
}

.boxX {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.boxX h2{
    font-size: 2rem;
    font-weight: bold;
}
  
 