/* Votre CSS ici */
html, body, div, span, applet, object, iframe,
h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url(../images/bg.jpg);
    background-size: contain;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
    --main-primary-color: #f44831;
    --main-background-color: #fdf4e7;
    --main-text-color: #1e1e1e;
}
html, body{
    height: 100%;
}

.content {
    flex: 1 0 auto;
    margin: 4rem 5rem ;
}

.composant {
    display: none;
}

.visible {
    display: block;
}

.accroche{
    text-align: center;
    width: 50%;
    margin: 1rem auto;
}

#mentions {
    margin-bottom: 20px;
    line-height: 1.25;
 }
#mentions p{
    font-family:'Times New Roman', Times, serif;
}
    
#mentions h2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}

header {
    color :var(--main-text-color);
    display: flex;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    align-items: center;
    height: 300px;
}
header h1{
    text-align: center;
    margin: 0 auto;
    color: var(--main-primary-color);
}
header img{
    width: 300px;
    margin: 20px;
}
.row {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
    font-family: cursive;
}

.remove-item {
    width: 20px;
    height: 20px;
    font-size: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
}

.horizontal-list {
    display: inline-block;
    border-radius: 2em 2em;
}
.list-group-item {
    display: inline-block;
    margin-left: 10px;
    border-radius: 3em;
    font-family: cursive;
    height: 80px;
    width: 80px;
}

.ingredient-item {  
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: 70px;
    margin-left: -40px;
}


.titrecontact {
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

/* Style du body */
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-check-input{
    margin-top: 0;
}
.form-check .form-check-input{
    margin: 0;
    float: none;
}
.bg-light{
    background-color: var(--main-background-color) !important;
}
.bg-success{
    background-color: var(--main-background-color) !important;
}
.btn-primary {
    background-color: var(--main-primary-color) !important;
    border-color: var(--main-primary-color) !important;
}
.s5{
    width: 50rem;
}
.s3{
    width: 30rem;
}
.col-md-3 {
    text-align: center;
}
#liste_ingredients, #liste_mots_cles{
    max-height: 10rem;
    overflow: auto;
}
#liste_mots_cles{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mot-cle{
    display: flex;
    flex-direction: row;
    width: 25%;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem;
}
.mot-clep{
    margin-right: 1rem;
}
.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
    background: none;
}
.btn{
    padding: none;
    text-align: center;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}


#modifierFormBtn{
    display: block;
    margin: 0 auto;
}
.etape {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* Style pour le numéro d'étape */
.etape h3 {
    font-weight: bold;
    MARGIN: auto 10px;
    text-wrap: nowrap;
}

/* Style pour le texte d'étape */
.etape p {
    text-align: center;

}
   
.recetteHeader {
    
    background-color: var(--main-background-color);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
.image-recette{
    margin-right: 20px;
    height: 100px;
    max-width: 100%;
}
/* Style pour le titre de la recette */
.recetteHeader h2 {
    margin: 0;
    color: var(--main-text-color);
}


.recetteInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Style de la barre latérale contenant les détails de la recette et la liste d'ingrédients */
.sidebar {
    width: 30%;
}

/* Style des détails de la recette (calories, CO2, temps de préparation, portion) */
.recetteDetail { 
    display: flex;
    flex-direction: column;
}
.recetteDetail p {
    margin: 5px ;
}

/* Style de la liste d'ingrédients */
.listIngredient {
    list-style: none;
    padding: 0;
   
}

/* Style des éléments de la liste d'ingrédients */
.ingredient {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* Style des étapes de la recette */
.recetteEtapes {
    width: 65%;
    list-style: none;
    padding: 0;
    
}

/* Style des étapes individuelles de la recette */
.etape {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    float : right;
}

/* Style des étapes individuelles de la recette */
.etape p {
    margin: 20px;
    text-align: justify;
}

.styleA {
    display: flex;
    flex-direction: row;
}

.container {
    width: 900px;
    margin: 0 auto;
}

menu1 {
    float: left;
    width: 128px;
    border: 1px solid #000;
    padding: 10px;
}
#content {
    border: 1px solid #000;
    margin: 0 10px;
    padding: 10px;
    width: 558px;
    float: left;
}
#footer {
    margin-top: 20px;
    clear: both;
}




/* Style du Footer */
footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    height: 5rem;/* Footer height */
    background-color: #aaa;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer a{
    color: #f4c890;
    text-decoration: none;
}

.ui-autocomplete {
    background-color: #eee;
    border: none;
    border-radius: 0 2em 2em 0;
    display: inline-block;
    width: 70%;
    height: 50px;
}

.ui-menu {
    max-width: 70%; 
    border-radius: 0 2em 2em 0;
}
.ui-menu-item {
    cursor: pointer;
    font-size: 14px;
    font-family: cursive;
    margin-top: 5px;
    margin-bottom: 10px;
}


.ui-autocomplete:focus {
    outline: none;
}

#searchIngredientButton {
    background-color: #f4c890;
    border: 0;
    font-size: 25px;
    margin-top: 80px;
    display: none;
}

.btn-primary {
    background-color: #f4c890;
    border: 0;
}

#searchType {
    display: inline-block;
    width: 30%;
    background-color: #f4c890;
    border: none;
    border-radius: 2em 0 0 2em;
}

.select2-container--default .select2-selection--single {
    display: inline-block;
    background-color: #f4c890 !important;
    border: none !important;
    border-radius: 2em 0 0 2em !important;
    height: 50px !important;
    padding-right: 0px !important;
}

.row > * {
    padding-right: 0px !important;
}

.select2-selection__rendered {
    line-height: 50px !important;
}

.select2-results__option {
    display: inline-block;
    width: 100%;
    background-color: #f4c890;
    border: none;
    border-radius: 2em 0 0 2em;
}

.select2-container .select2-dropdown {
    border: none;
}

.select2-selection__arrow b{
    display:none !important;
}



/* Formulaire Connexion ADMIN */
.boxXXX {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
    justify-content: space-between;
    height: 180px;
    width: 400px;
}

.boxX {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.boxX h2{
    font-size: 2rem;
    font-weight: bold;
}
  
/* List Recettes */
#listRecette {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem auto;
}
.imgA {
    width: 100%;
    height: auto;
    display: block;
}

.titre {
    
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    text-align: center;
    font-weight:bold;
}
#loader {
    background: url('../images/chef.gif');
    width: 150px;
    height: 150px;
    background-size: cover;
    margin-top: 20px;
}





