<div id="maBoiteModale" class="boite-modale">
    <div class="contenu-boite-modale">
        <span id="fermerBoiteModale" class="fermer">&#10006;</span>
        <h1>Cookies du placard</h1>
        <p>Nous souhaitons utiliser des cookies ou autres traceurs et traiter vos données personnelles (données de navigation, données renseignées dans votre compte et/ou lors de l'utilisation des services, etc.) pour :
     
        <ul> - Mesure d'audience </ul>
        <ul> - Fonctionnalités liées aux réseaux sociaux </ul>
        <ul> - Fonctionnalités liées à l'amélioration de votre expérience </ul>
        <ul> - Contenu personnalisé et mesure de performance du contenu</ul>
        <ul> - Publicités personnalisées, mesure de performance des publicités et données d'audience</ul>
        <ul> - Développer et améliorer les produits</ul>
        <ul> - Données de géolocalisation précises et identification par analyse du terminal</ul>
        <br>
       <div id="finCookie"> Vous pouvez autoriser ou refuser tout ou une partie de ces traitements de données qui sont basés sur votre consentement ou sur l'intérêt légitime de nos partenaires, à l'exception des cookies et/ou traceurs nécessaires au fonctionnement de ce site. Pour en savoir plus, consultez notre politique de protection des données personnelles.</p>
        
        </div>
        <button onclick="fermerBoiteModale()">Accepter</button>
        <button onclick="fermerBoiteModale()">Refuser</button>
    </div>
</div>

