{# 
    Header de la recette
    Image de la recette en background
    Le nom de la recette
 #}
<div class="recetteHeader">
    <h2>Nom</h2>
</div>

<div class="recetteInfo">
    <div class="sidebar">
        <div class="recetteDetail"> 
            <p>Calorie</p>
            <p>CO²</p>
            <p>Temps de préparation</p>
            <p>Portion</p>
        </div>
        <ul class="listIngredient">
            <li class="ingredient"><p>Ingrédient 1</p><p>Quantité 1</p><p>Unité 1</p></li>
            <li class="ingredient"><p>Ingrédient 2</p><p>Quantité 2</p><p>Unité 2</p></li>
            <li class="ingredient"><p>Ingrédient 3</p><p>Quantité 3</p><p>Unité 3</p></li>
        </ul>
    </div>

    <ul class="recetteEtapes">
        <li class="etape"><p>Etape 1</p></li>
        <li class="etape"><p>Etape 2</p></li>
        <li class="etape"><p>Etape 3</p></li>
        <li class="etape"><p>Etape 4</p></li>
        <li class="etape"><p>Etape 5</p></li>
    </ul>
</div>