{# Dans le fichier detailRecette.html.twig #}

{# Header de la recette #}
<button id="voirListeRecettes" class="btn btn-primary" style="display: none;">
    Voir la liste des recettes
</button>
<div id="detailRecette"> 
    
</div>