<form id="formIngredient" method="post" {#action="{{ path('votre_route_pour_traiter_le_formulaire') }}"#}>

    <!-- Première section avec des champs d'ingrédients -->
    <div class="row bg-light py-3 mb-3 flex s5">
        <div class="col-md-3 form-floating">
            <input type="text" class="form-control" id="ingredient" name="ingredient">
            <label for="ingredient">Ingrédient:</label>
        </div>
        <div id="suggestions"> </div>
        <div class="col-md-3">
            <button class="btn btn-primary" id="ajouter" type="button">Ajouter</button>
        </div>
    </div>

    <!-- Div pour la liste des ingrédients ajoutés -->
    <div id="liste_ingredients" class="bg-success mb-3 s5">
        <!-- La liste des ingrédients ajoutés apparaîtra ici -->
    </div>

    <!-- Bouton d'envoi -->
    <div class="text-center">
        <button type="submit" class="btn btn-primary" onclick="_paq.push(['trackEvent', 'Click Link', 'Envoie du formulaire']);">Envoyer</button>
    </div>
</form>

