{#% for card in cards %#} 
<div class="card" style="width: 15rem;">
  <img src="https://img.cuisineaz.com/1024x768/2013/12/20/i18391-poule-au-pot-et-riz-long.jpeg"
   class="imgA" alt="poule au pot l'ancienne">
  <div class="card-body">
    <h5 class="card-title titleA"> poule au pot l'ancienne </h5>
    <p class="card-text">calorie</p>
    <p class="card-text">CO2</p>
    <a href="" class="btn btn-primary"> Allez à la recherche </a>
  </div>
</div>


