{#% for card in cards %#} 

<button id="modifierFormBtn" class="btn btn-primary" style="display: none;">
  Modifier le formulaire
</button>
<center><div id="loader" style="display: none">
</div></center>
<div id="listRecette">

</div>



