    <div class="card-header boxX">
      Connexion
    </div>
    
    <form>
      <div class="card-body boxXXX my-form-label">
      <div class="col-12 bg-light ">
         <div class="form-group">
            <input type="text" class="form-control" id="username" placeholder="Entrez votre nom d'utilisateur">
         </div>
        </div>
        <div class="col-12 bg-light ">
          <div class="form-group">
             <input type="password" class="form-control" id="password" placeholder="Entrez votre mot de passe">
           </div>
         </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
      </div>
    </form>