<form id="searchForm">
    <div class="row">
        <select id="searchType">
            <option value="ingredients">Ingrédients</option>
            <option value="recettes">Recettes</option>
        </select>
        <input type="text" id="autocompleteSearch" class="ui-autocomplete shadow-none" placeholder="Ajouter un ingrédient">
    </div>
    <div class="row">
        <ul id="selectedOptions" class="list-group mt-2 horizontal-list"></ul>
    </div>

    <button id="searchIngredientButton" class="btn btn-primary">Rechercher</button>
 </form>