{% extends 'base.html.twig' %}

{% block title %}MentionsLegales{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div id="mentions"> 
<h2>1.Informations sur l'éditeur du site :</h2>


   <p>[Nom de l'entreprise]</p>
   <p> [Forme juridique de l'entreprise]</p>
   <p> [Adresse du siège social]</p>
   <p> [Numéro de téléphone]</p>
   <p> [Adresse e-mail]</p>
    <p>[Numéro d'immatriculation de l'entreprise]</p>
<br>
<h2> 2. Directeur de la publication :  </h2>

   <p> [Nom du responsable de la publication]</p>
   <p> [Adresse du responsable de la publication]</p>
   <p> [Adresse e-mail du responsable de la publication]</p>
<br>
<h2>3. Hébergeur du site :</h2>

   <p> [Nom de l'hébergeur]</p>
   <p> [Adresse de l'hébergeur]</p>
   <p> [Numéro de téléphone de l'hébergeur]</p>
   <p> [Adresse e-mail de l'hébergeur]</p>
<br>
<h2>4. Propriété intellectuelle : </h2>

    <p>Tous les contenus présents sur le site (textes, images, vidéos, etc.) sont la propriété exclusive de [Nom de l'entreprise]. Toute reproduction, même partielle, est strictement interdite sans autorisation préalable.</p>
<br>
<h2>5. Collecte de données personnelles : </h2>

    <p>Consultez notre [Politique de confidentialité](lien vers la politique de confidentialité) pour comprendre comment nous collectons, utilisons et protégeons vos données personnelles.</p>
<br>
<h2>6. Cookies : </h2>

    <p>Consultez notre [Politique en matière de cookies](lien vers la politique de cookies) pour comprendre comment nous utilisons les cookies sur notre site.</p>
<br>
<h2>7. Liens hypertextes : </h2>

    <p>Nous déclinons toute responsabilité quant au contenu des sites externes liés.</p>
<br>
<h2>8. Limitation de responsabilité : </h2>

    <p>Nous ne pouvons être tenus responsables des dommages résultant de l'utilisation de ce site.</p>
<br>
<h2>9. Droit applicable et juridiction compétente : </h2>

    <p>Ce site est soumis au droit [national]. En cas de litige, le tribunal compétent est [nom du tribunal compétent].</p>
<br>
<h2>10. Coordonnées de la CNIL  : </h2>

     <p>[Indiquez si votre site collecte des données personnelles et fournissez les coordonnées de l'organisme de régulation].</p>
    </div>

{% endblock %}
