{% extends 'base.html.twig' %}

{% block title %}MentionsLegales{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div> 
<h2>1.Informations sur l'éditeur du site :</h2>


   [Nom de l'entreprise]
   [Forme juridique de l'entreprise]
   [Adresse du siège social]
   [Numéro de téléphone]
   [Adresse e-mail]
   [Numéro d'immatriculation de l'entreprise]

<h2> 2. Directeur de la publication :  </h2>

   [Nom du responsable de la publication]
   [Adresse du responsable de la publication]
   [Adresse e-mail du responsable de la publication]

<h2>3. Hébergeur du site :</h2>

   [Nom de l'hébergeur]
   [Adresse de l'hébergeur]
   [Numéro de téléphone de l'hébergeur]
   [Adresse e-mail de l'hébergeur]

<h2>4. Propriété intellectuelle : </>

   Tous les contenus présents sur le site (textes, images, vidéos, etc.) sont la propriété exclusive de [Nom de l'entreprise]. Toute reproduction, même partielle, est strictement interdite sans autorisation préalable.

<h2>5. Collecte de données personnelles : </h2>

   Consultez notre [Politique de confidentialité](lien vers la politique de confidentialité) pour comprendre comment nous collectons, utilisons et protégeons vos données personnelles.

<h2>6. Cookies : </>

   Consultez notre [Politique en matière de cookies](lien vers la politique de cookies) pour comprendre comment nous utilisons les cookies sur notre site.

<h2>7. Liens hypertextes : </h2>

   Nous déclinons toute responsabilité quant au contenu des sites externes liés.

<h2>8. Limitation de responsabilité : </2>

   Nous ne pouvons être tenus responsables des dommages résultant de l'utilisation de ce site.

<h2>9. Droit applicable et juridiction compétente : </h2>

   Ce site est soumis au droit [national]. En cas de litige, le tribunal compétent est [nom du tribunal compétent].

<h2>10. Coordonnées de la CNIL (ou l'organisme équivalent dans votre pays) : </h2>

    [Indiquez si votre site collecte des données personnelles et fournissez les coordonnées de l'organisme de régulation].

{% endblock %}
